.App {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;

}

.App a{
    text-decoration: none;
    font-size: larger;
    padding: 1rem;
    color: white;
    font-weight: bold;
}
a .watchListCounter{
  position: absolute;
  border: white;
  border-radius: 50%;
  background-color: red;
  width: 1rem;
  margin: 0.1rem;
  display: inline;
}

.MainContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
} 

.MainContainer h1{
  display: flex;
  align-items: flex-end;
  color: rgb(180, 0, 0);
    margin: 1rem;
} 

section{
  position: relative;
  transition:transform 0.2s;
  width: 14rem;
  padding: 0.8rem;
}

section:hover{
  cursor: pointer;
  transform: scale(1.1);
}

section:hover .displayCont{
  opacity: 0.7;
}

section img{
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  opacity: 0.7;
 
}

.displayCont{
  display: flex;
  position: absolute;
  text-align: center;
  background-color: black;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s ease-in-out;
  width: 75%;
  height: 87%;
  opacity: 0;
  bottom: 0;
  padding: 20px;
}

.displayCont h2{
    margin-left: 1.5rem;
}

.displayCont p{
    font-weight: bold;
    top: 12rem;
    left: 0rem;
}
.buttonsCont{
  display: flex;
  margin-left: 2rem;
}
.buttonsCont button{
  background-color: transparent;
  border: none;
}

.LogOutBtn{
  background-color: rgb(180, 0, 0);
  padding: 1rem;
  font-size: larger;
  color: white;
  border-radius: 0.5rem;
    display: inline;
    float: left;
}

.favoritesCont {
  display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.watchListCont{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
