.App {
  background-color: black;
  color: white;
  text-align: center;
}
.MainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.HomePageTrailer{
  background-color: rgb(59, 78, 163);
  width: 96%;
  height: 70vh;
}
.searchInput{
  width: 96%;
  padding: 1%;
  margin: 1%;
}
article{
  width: 12%;
  margin: 1%;
}
.imgCont{
  height: 200px;
  width: 100%;
}
article img{
  width: 100%;
  height: 100%;
}
