.App {
  background-color: black;
  color: white;
  text-align: center;
}

.MainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.HomePageTrailer{
  width: 96%;
  height: 70vh;
}
.searchInput{
  width: 96%;
  padding: 1%;
  margin: 1%;
}
section{
  position: relative;
  width: 17rem;
  margin: 0.8rem;
  white-space: normal;
}
.displayCont{
  height: 18rem;
  width: 100%;
}
p{
  position: absolute;
  font-weight: bold;
  top: 11rem;
  left: 1rem;
  z-index: 1;  
}
 h2{
  position: absolute;
  margin-left: 4rem;
  z-index: 1;

}
h3{
  position: absolute;
    margin-left: 7rem;
    z-index: 1;
    top: 5rem; 
}
.buttonsCont{
  position: absolute;
  display: flex;
  margin-left: 4rem;
  margin-top: -3rem;
}
.buttonsCont button{
  background-color: transparent;
  border: none;
  margin-top: 0.4rem;
}
img{
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

video{
  align-items: center;
  width: 100%;
}