
.searchInput{
  width: 65rem;
  padding: 1rem;
  margin: 1rem;
}
.searchBtn{
  padding: 0.5rem;
    font-size: larger;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}
.HomePageTrailer{
  width: 100%;
  height: 70vh;
}
.cardsContainer{
  display: flex;
 flex-direction: column;
}
.cardsContainer h1{
  display: flex;
  align-items: flex-end;
 color:white;
  margin-left: 3rem;
  /* width: 100%; */
} 
.cardsRow {
  padding: 10px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  color: white;
}

::-webkit-scrollbar{
  width: 20px;
  
}
::-webkit-scrollbar-track {
  background:rgba(128, 128, 128, 0.116);

  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
/* 
.cardsRow::-webkit-scrollbar{
  /* display: none; */
  /* background-color: red; */
/* }  */

.slider{
  display: flex;
  width: calc(272px*257);
  /* animation: scroll 300s linear infinite; */
}
.slider:hover{
animation-play-state: paused;
}
.cardsSection {
  transition: transform 1.5s;
  height: 30rem;
  width: 18rem;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cardsSection:hover{
  transform: scale(1.2);
  z-index: 1;
}

.cardsSection:hover .details{
  opacity: 1;
}

.cardsSection img {
  /* filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255)); */
  border-radius: 0.2rem;
  width: 100%;
  height: 68%;
  opacity: 1;
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
  width: 25.3rem;
  height: 32%;
  opacity: 0;
  bottom: 0;
  border-radius: 0.2rem;
  align-content: space-around;
  padding: 0.5rem;
 }

.buttonsCont {
  display: flex;
  justify-content: flex-start;
  }

.buttonsCont button{
  background-color: transparent;
  border: none;
}

.icons{
  cursor: pointer;
  color: white;
  font-size: xx-large;
}
.textDetailsCont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.textDetailsCont p {
font-size: 16px;
margin: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
}

@keyframes scroll {
 0%{
transform: translateX(0);
 } 
 100%{
transform: translateX(calc(-272px*128));
 }
}

.favoritesCards, .watchListCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

@media (max-width:340px){
  .searchInput{
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
  }
  .HomePageTrailer iframe{
    position: relative;
    width: 82vw;
  }
  .searchBtn{
    font-size: small;
    margin-top: 2rem;
  }
}